body{
	background-color: rgba(40,40,235,0.4);
	color: #000;
}
header img{
	display: inline-block;
	width: 10%;
	height: 120px;
}
header h2{
	display: inline-block;
	font-weight: 600;
}
header{
	background-color: #eee;
	text-align: center;
}

header img{
	display: inline-block;
	width: 9%;
	height: 90px;
	
}
header h2{
	display: inline-block;
	font-weight: 600;
	color: #fff;
}
header{
	background-color: #eee;
	background-image: url(../images/bghhh.jpg);
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
}
.navbar-brand a{
	color: #fff;
}
.navbar-brand a:hover{
	color: #bbb;
}
.dropdown-menu > li > a, .navbar-header .navbar-brand, .navbar-default .navbar-nav > li > a {
    font-size: 1.3em;
}
.navbar-header .navbar-brand, .navbar-default .navbar-nav > li > a {
    letter-spacing: 1.2px;
    }
/*.collapse ul li a{
	font-size: 25px;
}
.nav li{
	border-right: 1px solid #bbb;
}*/
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #bbb;
}
.navbar {
	text-align: center;
	background-color: #000;
}
button{
	color: #f00;
}
.links{
	text-align: center;
}

.dropdown ul {
	background-color: transparent;
}
.dropdown ul li a{
	color: #fff;
}
.imgBannerc{
	background-image: url(../images/compb.jpg);
}
.imgBannerec{
	background-image: url(../images/engg.jpg);
}
.imgBanner{
    background-image: url(../images/engg.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 200px;
    padding: 118px 0;
    text-align: center;
    width: 100%;
    margin-top: -20px;

}
.imgBanner h2{
	
	color: #d40b09;
	color: #fff;
	font-weight: 500;
	font-size: 25px;
	
}

/*
========================
Slider
========================
*/

.slider {
	width: 100%;
	margin: 2em auto;
	
}

.slider-wrapper {
	width: 100%;
	height: 300px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 2s linear;
	border-radius: 2%;
	display: inline;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
.introduction,.vision{
	font-size: 15px;
	word-spacing: 1px;
	letter-spacing: 1px;
	border: 1px solid black;
	padding: 20px;
	margin: 10px;

}
.vision{
	margin-top: 70px;
}
.footer_top {
    float: left;
    display: inline;
    width: 100%;
    background-color: #1e2223;
    padding: 3px 0px;
    color: #fff;
}
.single_footer_widget ul li a{
	color: #fff;
}
footer{
	font-size: 20px;
	text-align: center;
	background-color: #55d;
}
.table{
	font-weight: 600;
}
.table th{
	font-weight: 800;
}
.aside{
	background-color: #ddd;
	padding: 20px;
    margin-top: 80px;
}
.dlink h3{
	background-color: #55e;
	padding: 10px;
	color: #fff;
}
.dlink ul{
	list-style: none;
}
.dlink ul li{
	padding: 5px;
}
.dlink ul li a{
	font-weight: 500;
	color: #000;
	word-spacing: 2px;
}
p{
	font-size: 15px;
	word-spacing: 2px;
	letter-spacing: 1px;

}


@media all and (max-width: 600px){
header img{
	width: 80%;
	height: 160px;
}
}
@media (max-width: 480px){
.imgBanner {
    height: 100px;
    padding: 80px 0;
}
}
/*@media (max-width: 767px){
.imgBanner {
    margin-top: 65px;
}
}*/
@media (min-width: 360px){
.imgBanner h2 {
    font-size: 22px;
}
}
@media (min-width: 480px){
.imgBanner h2 {
    font-size: 40px;
}
}
@media (min-width: 767px){
.imgBanner h2 {
    font-size: 50px;
}
}