
.main{
background: -webkit-linear-gradient(left, rgb(102, 125, 236) 0%, rgb(215, 217, 234) 18%, rgb(85, 117, 232) 47%, rgb(188, 193, 224) 60%, rgb(124, 146, 228) 89%);
background: -moz-linear-gradient(left, rgb(102, 125, 236) 0%, rgb(215, 217, 234) 18%, rgb(85, 117, 232) 47%, rgb(188, 193, 224) 60%, rgb(124, 146, 228) 89%);
background: -o-linear-gradient(left, rgb(102, 125, 236) 0%, rgb(215, 217, 234) 18%, rgb(85, 117, 232) 47%, rgb(188, 193, 224) 60%, rgb(124, 146, 228) 89%);
background: -ms-linear-gradient(left, rgb(102, 125, 236) 0%, rgb(215, 217, 234) 18%, rgb(85, 117, 232) 47%, rgb(188, 193, 224) 60%, rgb(124, 146, 228) 89%);
background: linear-gradient(left, rgb(102, 125, 236) 0%, rgb(215, 217, 234) 18%, rgb(85, 117, 232) 47%, rgb(188, 193, 224) 60%, rgb(124, 146, 228) 89%);
}
p{
	font-weight: 500;
}
p ul li{
	font-weight: 500;
}
.other{
	margin-left: 10px;
}