.main{
	  background: -moz-linear-gradient(left, rgba(190,190,190,1) 0%, rgba(190,190,190,1) 18%, rgba(85,190,232,1) 47%, rgba(42,170,190,1) 60%, rgba(100,170,190,1) 89%);
 background: -webkit-linear-gradient(left top, right top, color-stop(0%, rgba(190,190,190,1)), color-stop(18%, rgba(190,190,190,1)), color-stop(47%, rgba(85,190,232,1)), color-stop(60%, rgba(42,170,190,1)), color-stop(89%, rgba(100,170,190,1)));
 background: -webkit-linear-gradient(left, rgba(190,190,190,1) 0%, rgba(190,190,190,1) 18%, rgba(85,190,232,1) 47%, rgba(42,170,190,1) 60%, rgba(100,170,190,1) 89%);
 background: -o-linear-gradient(left, rgba(190,190,190,1) 0%, rgba(190,190,190,1) 18%, rgba(85,190,232,1) 47%, rgba(42,170,190,1) 60%, rgba(100,170,190,1) 89%);
 background: -ms-linear-gradient(left, rgba(190,190,190,1) 0%, rgba(190,190,190,1) 18%, rgba(85,190,232,1) 47%, rgba(42,170,190,1) 60%, rgba(100,170,190,1) 89%);
}
.main{
	  background: -moz-linear-gradient(to left #7788ee  #8855aa);
 background: -webkit-linear-gradient(to left #7788ee  #8855aa);
 background: -webkit-linear-gradient(to left #7788ee  #8855aa);
 background: -o-linear-gradient(to left #7788ee  #8855aa);
 background: -ms-linear-gradient(to left #7788ee  #8855aa);
}
